
<br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <ul>
      <center>
      <a href="#acerca" class="navbar-brand">Acerca de la empresa</a></li>
      <a href="#personal" class="navbar-brand">Ingreso personal</a></li>
      <a href="#contactos" class="navbar-brand">Contactos</a></li>
    </center>
    </ul>
  </nav>