<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>
<body>
    <%-include('partials/menunav.html')%>
    <center>
    <div class="container p-4">
        <form action="/mostrar" method="post">
            <label for="">Numero de contrato</label>
            <input type="number" id="contrato" name="contrato" required="true">
            <br><br>
            <label for="">Nombre</label>
            <input type="text" id="nombre" name="nombre" required="true">
            <br><br>
            <label for="">Domicilio</label>
            <input type="text" id="domicilio" name="domicilio" required="true">
            <br><br>
            <label for="">Nivel de estudios</label>
            <select name="estudios" id="estudios">
                <option value="1" selected>Licenciatura</option>
                <option value="2">Maestria</option>
                <option value="3">Doctorado</option>
            </select>
            <br>
            <br>
            <label for="">Pago Diario</label>
            <input type="number" id="pago" name="pago" required="true">
            <br><br>
            <label for="">Dias trabajados</label>
            <input type="number" id="dias" name="dias" required="true">
            <br><br>
            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>
        </form>
    </div>
    </center>
    <%-include('partials/piePagina.html')%>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>