<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>

    <body>
        <%-include('partials/menunav.html')%>
            <div class="container p-4">
                
                    <% let subtotal=0; let impusto=0; let totalpagar=0; let pagof=0; pagof=pago * dias; if
                        (estudios==="1" ) { subtotal=pagof * 1.20; } else if (estudios==="2" ) { subtotal=pagof * 1.5;
                        }else if (estudios=="3" ){ subtotal=pagof * 2; } impuesto=subtotal * 0.16; totalpagar=subtotal -
                        impuesto; %>

                        <div class="container">
                            <label for="" class="">Numero de contrato: </label>
                            <label for="">
                                <%=contrato%>
                            </label>
                            <br><br>
                            <label for="" class="">Nombre Empleado: </label>
                            <label for="">
                                <%=nombre%>
                            </label>
                            <br><br>
                            <label for="" class="">Nivel de estudios: </label>
                            <label for="">
                                <%=estudios%>
                            </label>
                            <br><br>
                            <label for="" class="">Pago diario: </label>
                            <label for="">
                                <%=pago%>
                            </label>
                            <br><br>
                            <label for="" class="">Dias trabajados: </label>
                            <label for="">
                                <%=dias%>
                            </label>
                            <br><br>
                            <label for="" class="">Subtotal: </label>
                            <label for="">
                                <%=subtotal%>
                            </label>
                            <br><br>
                            <label for="" class="">Impuesto: </label>
                            <label for="">
                                <%=impuesto%>
                            </label>
                            <br><br>
                            <label for="" class="">Total a pagar: </label>
                            <label for="">
                                <%=totalpagar%>
                            </label>
                        </div>
                        <br><br>
                        <button type="submit">Calcular</button>
                        <button type="reset">Limpiar</button>
            </div>
            <%-include('partials/piePagina.html')%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</html>